<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
    <br>
    <h3>Create a New Listing</h3>
        <form action="/listing" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label"><b>Title:</b></label>
                <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter Title" required>
                <div class="valid-feedback">
                    TItle looks good
                </div>
                <div class="invalid-feedback">
                    Enter title here
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"><b>Description:</b></label>
                <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter Description" required></textarea>
                <div class="valid-feedback">
                    Description looks good
                </div>
                <div class="invalid-feedback">
                    Enter Description here
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label"><b>Upload Image: </b></label>
                <input name="listing[image][url]" type="file" class="form-control"/>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <div class="mb-3">
                        <label for="price" class="form-label"><b>Price:</b></label>
                        <input type="number" id="price" name="listing[price]" class="form-control" placeholder="Enter Price" required>
                        <div class="valid-feedback">
                            Price looks good
                        </div>
                        <div class="invalid-feedback">
                            Enter Price here
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label"><b>Country:</b></label>
                    <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter Country" required>
                    <div class="valid-feedback">
                        Country name looks good
                    </div>
                    <div class="invalid-feedback">
                        Enter Country name here
                    </div>  
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label"><b>Location:</b></label>
                    <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter Location" required>
                    <div class="valid-feedback">
                        Location looks good
                    </div>
                    <div class="invalid-feedback">
                        Enter Location here
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-dark add-btn">Create Listing</button>
        </form>
    </div>
</div>

