<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
            <h4 class="alert-heading">Error <%= status %></h4>
            <p><%= message %></p>
            <hr>
            <p class="mb-0">Please go back to the <a href="/listing">Listings Page</a></p>
        </div>
        </div>
    </div>
</div>


